*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.main{
    width: 100%;
    height: 100vh;
    background-image: url(./back-image.png);
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
    position: relative;
}

nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.l{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 350;
}

.login{
    text-decoration: none;
    color: black;
    margin-right: 15px;
    font-weight: 400;

}

.btn{
    display: inline-block;
    text-decoration: none;
    padding:14px 40px;
    color: whitesmoke;
    background-image: linear-gradient(45deg,hotpink,violet);
    font-size: 15px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 0.5s;
}

.cont{
    margin-top: 10%;
    width: 600px;
}

.cont h1{
    font-size: 70px;
}

.cont p{
    margin: 10px 0 30px;
    animation-delay: 0.5s;

}

.cont .btn{
     padding: 15px 80px;
     font-size: 18px;
     animation-delay: 1s;
}

.girl.an{
    animation-delay: 1.5s;
}

.btn:hover{
       border-top-right-radius: 30px;
}

.girl{
    width: 450px;
    position: absolute;
    bottom:0 ;
    right: 10%;
}

.an{
    opacity: 0;
    transform: translateY(30px);
    animation: move 0.5s linear forwards;
}

@keyframes move{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}